.disconts {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  .discount__gallery {
    display: flex;
    height: 520px;
    justify-content: space-between;
    &-1 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      height: 100%;
      & > img {
        width: 100%;
        object-fit: cover;
        height: 70%;
      }

      & > p {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin: 0;
      }

      & > div {
        display: flex;
        justify-content: space-between;

        & > img {
          width: 30%;
        }
      }
    }
    &-2 {
      width: 30%;
      margin: 0 20px;
      & > img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    &-3 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30%;
      & > img {
        object-fit: cover;
        width: 100%;
        height: 42%;
      }
      & > p {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
        margin: 0;
      }
    }
  }
}
